:host{
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 2rem;
}

.notification__title{
    font-size: 1.2em;
}

.notification__action{
    border-radius: 4px;
    border: 1px solid black;
    background-color: #eee;
    padding: 2px 16px;
    font-weight: bold;
}
